*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat","Avenir LT Std", "Avenir Next", Avenir, Montserrat, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  margin: unset;
  color: #1D637A;
  position: relative;
  min-height: 100vh;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
	overflow: hidden;
}

.hero__img {
	max-width: 55rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: unset;
  margin: 0 2rem;
}

.margintop {
  margin-top: 2rem;
}

footer {
  background-color: #1D637A;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20rem;
}

main {
  padding-bottom: 20rem;
}

h2 {
  color: white;
  font-weight: 600;
  margin: 0 1rem 1rem 0;
  font-size: 1.5rem;
}

.footer__text {
  color: white;
  font-weight: 400;
  margin: unset;
}

a {
  color: white;
}

.logo__img {
  width: 8rem;
  justify-self: center;
  align-self: center;
  margin-left: 2rem;
  grid-row: 2;
}

section {
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 3rem;
}

@media only screen and (min-width: 420px) {

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    height: 12.5rem;
  }

  main {
    padding-bottom: 12.5rem;
  }

  .logo__img {
    justify-self: unset;
    grid-row: unset;
  }

	.hero__img {
    max-width: 70rem;
	}
}

@media only screen and (min-width: 660px) {

  h1 {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}
